body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(fondo.png);
}

.titulo h2 {
  position: absolute;
  left: 35%;
  top: 5%;
  font-weight: bolder;
}

h3 {
  position: absolute;
  top: 30%;
  left: 10%;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .form-control {
  width: 50%; /* Reducimos el ancho del input */
  height: auto;
}
.input-group #expression-input{
  position: absolute;
  top: 200%;
}

.buttons {
  position: relative; /* Ajustamos la posición relativa para que el árbol se imprima debajo */
  margin-top: 20px;
}


#tree-container {
  margin-top: 40px; /* Aseguramos que el árbol aparezca debajo de los botones */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.node {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px; 
  position: relative;
  margin: 10px;
}

.child {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 1400px) {
  .node {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
.buttons{
  position: absolute;
  top: 25%;
}
.buttons #generate-btn{
  width: 180%;
}